<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.juffel.simpleaudiorecorder" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:installLocation="internalOnly"
        android:largeHeap="true"
        android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
        <activity
            android:name=".ActivityZiegelHello"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityZiegelHome"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ActivityZiegelProcess"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ActivityZiegelBye"
            android:screenOrientation="portrait" >
        </activity>
        <!-- receiver to trigger launch on boot event -->
        <receiver android:name=".BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ActivityZiegelStory"
            android:label="@string/title_activity_activity_ziegel_story" >
        </activity>
    </application>

</manifest>
